<!DOCTYPE html>
<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<style>

    body {background-color: rgb(135, 59, 160);}
    body {text-align: center;}
        .complete {
            text-decoration: line-through;
            font-style: italic
    }
    
</style>
</head>


<h1 style="color: hotpink;",>Welcome to my todo application</h1>

<h3 style="color: rgb(13, 235, 157);">Todo list</h3>

<ul>
{% for x in js_todos %}
    <li class="{% if x['complete']%}complete{%endif%}">
        {{ x['description'] }}

        {% if x['complete'] %}✅ {%endif%}

        <form method="POST" action="/delete_todo/{{ x['id'] }}">
            <input style="color: rgb(125, 188, 244)"type="submit" value="Delete" class="btn btn-outline-danger">
        </form>

        <form method="POST" action="/complete_todo/{{ x['id'] }}">
            <input style="" type="submit" value="Mark complete" class="btn btn-primary">
        </form>

    </li>
{%endfor%}
</ul>
<form method="post">
<input name="new_todo">
<input type="submit">
</form>


</body>




</head>
</html>